<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="statistic">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Statistiques</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Parametres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
